body{
    margin:0;
}
.display-center{
    display: flex;
    justify-content: center;
}
#Top-Banner{
    background-image:linear-gradient(0deg,rgba(18,18,18,1),rgba(18,18,18,0)), url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:669px;
    margin-bottom: 80px;
}
#Top-Banner h1{
    color:white;
    font-size: 65px;
    font-weight: 700;
    height: 158px;
    width:826px;
    font-family: 'Inter', sans-serif;
}
.top-content{
    margin:150px 307px;
    width:826px;
    height:320px;
    text-align: center;
}
.top-content p{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 28px;
    width:691px;
    height: 56px;
    padding: 0px 80px 30px;
}
.orange-button{
    color:white;
    text-decoration: none;
    background-color: #FF5959;
    padding:16px 12px;
    border-radius: 5px;
    margin-top: 100px;
}
#donate-today{
    text-align: center;
}
#donate-today h2{
    font-weight: 700px;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    color: #121212;
    margin:30px 0px;
}
#donate-today p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 691px;
    height: 56px;
    color:#707070;
    margin:0px 40px 40px;
    text-align: center;
}
.taka-button{
    width:136px;
    height:123px;
    background-color: #FAFAFA;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#707070;
    margin:10px 5px;

}
.taka-button:hover{
    color:#FF5959;
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    border-radius: 5px;
}
input[type=text]{
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#B3B3B3;
    line-height: 28px;
    border: none;
    border-bottom: 2px solid #DADADA;
}
input[type=text]:focus{
    outline: none !important;
    border-bottom: 2px solid #121212;
    color:#121212;
}
#first-input{
    margin:40px 0px;
}